In [3]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

23/05/01 10:15:43 WARN Utils: Your hostname, mia-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/05/01 10:15:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/01 10:15:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
resource_url = '/home/mia/Downloads/Python-and-Spark-for-Big-Data-master/'

In [11]:
df = spark.read.json(
    resource_url + 'Spark_DataFrames/' + 'people.json'
)

In [13]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [14]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [15]:
df.columns

['age', 'name']

In [16]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [17]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [22]:
from pyspark.sql.types \
    import (
        StructField, StringType, IntegerType, StructType
    )

In [24]:
data_schema = [
    StructField('age', IntegerType(), True),
    StructField('name', StringType(), True)
]   # field_name, type, is_nullable

In [25]:
final_struc = StructType(fields=data_schema)

In [26]:
df = spark.read.json(resource_url + 'Spark_DataFrames/' + 'people.json', schema=final_struc)

In [27]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [28]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
df['age']

Column<'age'>

In [30]:
type(df['age'])

pyspark.sql.column.Column

In [32]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [39]:
df.head(2)[0]

Row(age=None, name='Michael')

In [40]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [41]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [44]:
df.withColumn('doubleage', df['age'] * 2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [45]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [47]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [49]:
df.createOrReplaceTempView('people') # table name

In [50]:
results = spark.sql("SELECT * FROM people")

In [52]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [53]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")

In [54]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+